footer {
    background-color: lightgrey;
    margin-bottom: 10rem;
}

.footer__header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
    width: 65rem;
    margin: 0 auto;
    height: 100%;
    padding: 2rem 0;
}

.footer__head-one {
    grid-row: span 2;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__head-one img{
    width: 30%;
    height: auto;
}

.footer__head-one-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__head-one-socials {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer__head-one-socials p {
    font-size: 1.25rem;
}

.social-icons__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}



.footer__head-two {
    grid-column: span 3;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.head-two__logos {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.head-two__logos img {
    width: 6rem;
    height: auto;
}
.head-two__links {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    grid-auto-rows: 1fr;
}



.footer__head-three {
    grid-column: span 3;;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    border-top: 1px solid rgba(0, 0, 0, 1);
    padding-top: 2rem;
} 