.footer__header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
    width: 65rem;
    margin: 0 auto;
    height: 100%;
    padding: 2rem 0;
    background-color: white;
}

.footer__head-one {
    grid-row: span 2;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__head-one img{
    width: 5rem;
    height: auto;
}

.footer__head-one-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__head-one-socials {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer__head-one-socials p {
    font-size: 1.25rem;
}

.social-icons__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.social__icon {
    cursor: pointer;
}



.footer__head-two {
    grid-column: span 3;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.head-two__logos {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.head-two__logos img {
    width: 5rem;
    height: auto;
}
.head-two__links {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    grid-auto-rows: 1fr;
}



.footer__head-three {
    grid-column: span 3;;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-top: 1px solid rgba(0, 0, 0, .11);
    padding-top: 2rem;
} 

.footer__head-three a {
    height: fit-content;
}

.footer__foot {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.footer__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    gap: 1rem;
}

.footer__top img {
    width: 6rem;
    height: auto;
}

.footer__top h1{
    font-size: 1.5rem;
    font-weight: 400;
}

.footer__header img {
    opacity: 0.5;
    cursor: pointer;
    transition: width 0.2s ease-in-out;
}

.footer__header img:hover {
    opacity: 1;
    width: 5.25rem;
}

.footer__header a {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: border-bottom 0.5s ease-in-out;
    width: fit-content
}

.footer__header a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, .6);
}





@media screen and (max-width: 1100px) {
    .footer__header {
        display: none;
    }
    .footer__top img {
        width: 4rem;
    }

    .footer__top h1{
        font-size: 1rem;
    }

    .footer__top {
        padding: 1rem;
    }
}