header {
    background-color: black;
    padding-bottom: 3rem;
}

.header__container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45rem 1fr 45em;
    row-gap: 1rem;
    width: 95%;
    margin: 0 auto;
    color: white;
}

.header__card-large {
    grid-row: span 1;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1.25fr 3fr;
}

.header__card__image-container {
    order: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__card__image-container-one {
    background-image: url(/images/Kennedy.jpg);
}

.header__card__image-container-two {
    background-image: url(/images/Mountain-Men.jpg);
}


.header__card-large .header__card-text {
    background-color: #19171d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.header__card__image {
    display: none
}






.header__card-small {
   background-color: #19171d;
}

.card__small-one {
    margin-right: .5rem;
}

.card__small-two {
    margin-left: .5rem;
}

.header__card-small img {
    width: 100%;
}

.header__card-text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 3rem 2rem;
}




.header__card-two, .header__card-three {
    grid-row: span 1;
    grid-column: span 1;
}

.header__card-four{
    grid-row: span 1;
    grid-column: span 2;
}


.header__card-tag {
    background-color: #eb0028;
    width: fit-content;
    padding: 0.5rem 0.5rem;
    border-radius: 7px;
    font-weight: 700;
}

.header__card-subtext {
    color: #b1b1bd;
}

.header__card-link {
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (min-width: 700px) and (max-width: 1100px){
    .header__card-text {
        align-items: center;
        text-align: center;
    }
}





@media screen and (max-width: 1100px){

    .header__container {
        display: flex;
        flex-direction: column;
    }

    .header__card__image {
        display: block;
        width: 100%;
    }

    .card__small-one {
        margin-right: 0;
    }
    
    .card__small-two {
        margin-left: 0;
    }

    .header__card-large {
        display: flex;
        flex-direction: column;
    }

    .header__card-large .header__card-text {
        order: 2;
        padding: 3rem 2rem;
    }
}










































