header {
    background-color: black;
    padding-bottom: 1.5rem;
}

.header__container {
    width: 97%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




.header {
    display: grid;
    grid-template-columns: 33% 1fr;
    width: 100%;
    height: 40rem;
}

.header_text {
    background-color: #19171d;
    display: flex;
    align-items: center;
    color: white;
}

.header_text__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header__tag{
    background-color: #eb0028;
    width: fit-content;
    padding: 8px 8px;
    border-radius: 5px;
}

.header__subtext {
    color:#b1b1bd;
    font-weight: 300;
}


.play_icon_two__container {
    width: 2rem;
    height: 2rem;
    background-color: #eb0028;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play_icon__two {
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.play_icon__two:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%); /* Adjust as needed to center the triangle */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5rem 0 0.5rem 0.87rem; /* Adjust the size of the triangle */
    border-color: transparent transparent transparent white; /* Adjust the color */
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 500;
}

.header_image__container {
    background-color: white;
    background-position: center;
}

.header_image__one {
    background-image: url(/images/Kennedy.jpg);
}

.header_three__image {
    background-image: url(/images/Mountain-Men.jpg);
}







.header__two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40rem;
    gap: 1rem;
}



.header_block {
    display:grid;
    grid-template-rows: 75% 25%;
}


.header_block_img__container {
    background-size: cover;
    background-color: orange;
    background-repeat: none;
    background-position: center;
}

.block_img__one {
    background-image: url(/images/WWP.jpg);
}

.block_img__two {
    background-image: url(/images/Oak\ Island.jpg);
}

@media screen and (max-width: 1400px) {
    .header_block {
        grid-template-rows: 20rem 15rem;
    }

    .header__two {
        height: 35rem;
    }
}

@media screen and (max-width: 900px){

    .header__container {
        width: 95%;
    }
    
    .header {
        display: grid;
        grid-template-rows: 60% 40%;
        grid-template-columns: none;
    }


    .header_text {
        grid-row: 2; 
    }

    .header_image__container {
        grid-row: 1;
        background-size: cover;
        background-position: center;
    }
}


