header {
    background-color: black;
}

.header__container {
    width: 97%;
    margin: 0 auto;
}




.header__one {
    display: grid;
    grid-template-columns: 33% 66%;
    width: 100%;
    height: 40rem;
}

.header_text {
    background-color: #19171d;
    display: flex;
    align-items: center;
}

.header_text__container {
    width: 90%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header__tag{
    background-color: #eb0028;
    width: fit-content;
    padding: 8px 8px;
    border-radius: 5px;
}

.header__subtext {
    color:#b1b1bd;
    font-weight: 300;
}


.play_icon_two__container {
    width: 2rem;
    height: 2rem;
    background-color: #eb0028;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play_icon__two {
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.play_icon__two:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%); /* Adjust as needed to center the triangle */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5rem 0 0.5rem 0.87rem; /* Adjust the size of the triangle */
    border-color: transparent transparent transparent white; /* Adjust the color */
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 500;
}

.header_image__container {
    background-color: white;
    background-image: url(/images/Kennedy.jpg);
    background-position: center;
}






