nav {
    background-color: black;
    width: 100vw;
    height: 6rem;
    display: flex;
    align-items: center;
}

.nav__container {
    width: 97%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav__left{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__logo {
  width: 3.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__logo  img {
    width: 100%;
    height: auto
}


.nav_left__links > a {
    font-size: .9rem;
    font-weight: 600;
    color: white;
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0);
    transition: border-bottom 0.7s ease-in-out;
}

.nav_left__links > a:hover {
    border-bottom: 1px solid rgb(255, 255, 255, 0.8);
}

.nav__right {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-between;
}

.nav_right__link {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 8px;
    border-right: 1px solid rgba(216,216,216,.5);
}

.nav__right a:nth-child(3){
    margin-right: 10px;
}

.nav__right a:nth-child(3) span{
    color: rgba(216,216,216, 1);
    transition: color 0.3s ease-in-out;
}

.nav__right a:nth-child(3) span:nth-child(2){
    display: none;
}

.nav__right a:nth-child(3) span:hover {
    color: rgba(216,216,216, 0.8);
}

.red_dot__icon {
    width: 1rem; /* Set the diameter of the dot */
    height: 1rem; /* Set the diameter of the dot */
    background-color: #ff0000; /* Set the background color to red */
    border-radius: 50%; /* Create a circular shape */
    margin-right: 3px;
}

.play__icon {
    width: 1rem;
    height: 1rem;
    position: relative;
    cursor: pointer;
    margin-right: 3px;
}

.play__icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%); /* Adjust as needed to center the triangle */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5rem 0 0.5rem 0.87rem; /* Adjust the size of the triangle */
    border-color: transparent transparent transparent #ef3353; /* Adjust the color */
  }

.nav_right__link > span {
    color: white;
    font-size: .9rem;
    font-weight: 600;
}


.nav_right__button {
    padding: 0 10px;
    margin-right: 5px;
}

@media screen and (max-width: 1250px){
    .nav_left__links {
        display: none;
    }

    .nav__right a:nth-child(3) span{
        color: rgba(216,216,216, 1);
        transition: color 0.3s ease-in-out;
    }

    .nav__right a:nth-child(3) span:nth-child(1){
        display: none;
    }

    .nav__right a:nth-child(3) span:nth-child(2){
        display: block;
    }
}

@media screen and (max-width: 700px){
    .nav__container {
        width: 93%;
    }

    .nav_right__link {
        display: none;
    }
}